Repository SouchetJulie/DevLab, pull requests merged in 2022-01, with the labels that each got.

#4 [lesson] Rework the upload form
  package-lock.json
  package.json
  src/client/components/Alert.tsx
  src/client/hooks/store-hook.ts
  src/client/stores/alert.store.ts
  src/client/stores/store.ts
  src/client/styles/globals.scss
  src/client/styles/upload.module.scss
  src/pages/_app.tsx
  src/pages/lesson/upload.tsx
  src/server/handlers/lesson/post.handler.ts
  src/server/services/lessons.service.ts
  src/types/api-response.interface.ts
  tsconfig.json
Labels: front

#6 To merge landing page
  .run/dev (wsl).run.xml
  package-lock.json
  package.json
  public/landingPage/TeatShare 2.png
  public/landingPage/background.png
  public/landingPage/cours/cours1.png
  public/landingPage/cours/cours2.png
  public/landingPage/cours/cours3.png
  public/landingPage/cours/cours4.png
  public/landingPage/cours/cours5.png
  public/landingPage/cours/cours6.png
  public/landingPage/guillemetsDown.png
  public/landingPage/guillemetsUp.png
  public/landingPage/phone.png
  public/landingPage/phone2.png
  public/landingPage/socialIcons/insta.png
  public/landingPage/socialIcons/twitter.png
  public/landingPage/timer.svg
  public/logos/logo.png
  public/logos/logo.svg
  public/logos/name.png
  src/FakeDatas/LandingPage.cards.json
  src/client/components/LandingPage/Access.tsx
  src/client/components/LandingPage/Accueil.tsx
  src/client/components/LandingPage/Actualites.tsx
  src/client/components/LandingPage/Footer.tsx
  src/client/components/LandingPage/LandingCard.tsx
  src/client/components/LandingPage/LandingPage.tsx
  src/client/components/LandingPage/NavBar.tsx
  src/client/components/LandingPage/Temoignage.tsx
  src/client/styles/Home.module.scss
  src/client/styles/LandingPage/Access.module.scss
  src/client/styles/LandingPage/Accueil.module.scss
  src/client/styles/LandingPage/Actualites.module.scss
  src/client/styles/LandingPage/Card.module.scss
  src/client/styles/LandingPage/Footer.module.scss
  src/client/styles/LandingPage/LandingPage.module.scss
  src/client/styles/LandingPage/NavBar.module.scss
  src/client/styles/LandingPage/Temoignage.module.scss
  src/client/styles/globals.scss
  src/client/styles/variables.scss
  src/pages/index.tsx
  src/pages/test.tsx
  src/pages/user/login.tsx
  src/pages/user/signup.tsx
  src/server/services/users.service.ts
  src/server/services/users/users.service.ts
  src/types/ILandingPageCard.interface.ts
  src/types/lesson-file.class.ts
  src/types/user.interface.ts
  tsconfig.json
Labels: html, css

#7 Feature/38 css page de login
  .env
  .gitignore
  package-lock.json
  package.json
  src/client/components/LandingPage/Actualites.tsx
  src/client/components/LandingPage/Temoignage.tsx
  src/client/components/signIn_signUp/LoginForm.component.tsx
  src/client/components/signIn_signUp/SignUpForm.component.tsx
  src/client/styles/Login.Component.module.scss
  src/client/styles/globals.scss
  src/client/styles/upload.module.scss
  src/client/styles/variables.scss
  src/pages/lesson/upload.tsx
  src/pages/user/login.tsx
  src/pages/user/signup.tsx
  src/server/handlers/user/login/login.handler.ts
  src/types/login-request.interface.ts
Labels: html, css, front

#5 41 Navbar
  src/client/components/HomePage/HomePage.tsx
  src/client/components/LandingPage/Footer.tsx
  src/client/components/LandingPage/LandingPage.tsx
  src/client/components/menu/GradeLinks.tsx
  src/client/components/menu/MainLinks.tsx
  src/client/components/menu/NavBar.tsx
  src/client/components/menu/SideBar.tsx
  src/client/components/menu/SideBarContent.tsx
  src/client/components/menu/UserLinks.tsx
  src/client/components/signIn_signUp/LoginForm.component.tsx
  src/client/hooks/useLogout.hook.ts
  src/client/hooks/useUser.hook.ts
  src/client/stores/store.ts
  src/client/stores/user.store.ts
  src/client/styles/Home.module.scss
  src/client/styles/HomePage/index.module.scss
  src/client/styles/LandingPage/LandingPage.module.scss
  src/client/styles/Login.Component.module.scss
  src/client/styles/globals.scss
  src/client/styles/navbar.module.scss
  src/client/styles/variables.scss
  src/pages/_app.tsx
  src/pages/api/user/logout.ts
  src/pages/index.tsx
  src/pages/test.tsx
  src/pages/user/login.tsx
  src/server/handlers/user/login/login.handler.ts
  src/server/handlers/user/logout/logout.handler.ts
  src/types/api-response.interface.ts
  src/types/navbar-variant.enum.ts
  tsconfig.json
Labels: front

#11 Signup page
  package-lock.json
  package.json
  src/client/components/AlertComponent.tsx
  src/client/components/Auth/LoginForm.component.tsx
  src/client/components/Auth/SignUpForm.component.tsx
  src/client/components/atoms/Button.tsx
  src/client/components/atoms/Card.tsx
  src/client/stores/alert.store.ts
  src/client/styles/globals.scss
  src/client/utils/get-axios-error.utils.ts
  src/pages/_app.tsx
  src/pages/api/lesson/[_id].ts
  src/pages/lesson/upload.tsx
  src/pages/user/signup.tsx
  src/server/handlers/user/signup/signup.handler.ts
  src/server/services/database.service.ts
  src/server/services/lessons.service.ts
  src/server/services/users.service.ts
  src/types/user.interface.ts
Labels: enhancement, css, front
